[core]
	excludesfile = /Users/sptev/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/sptev/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	email = tvaught@ofiglobal.com
	name = sptev
[commit]
	template = /Users/sptev/.stCommitMsg
[alias]
   co = checkout
   st = status
   br = branch
   w = whatchanged
   ribbon = tag --force _ribbon origin/master
   catchup = log --patch --reverse --topo-order _ribbon..origin/master
   daily-report = !git --no-pager log --author=Thom --since='yesterday' --format='%s' --no-merges
[apply]
   whitespace = nowarn
[color]
   diff = auto
   status = auto
   branch = auto
   interactive = auto
   ui = true
   pager = true
[merge]
   summary = true
[push]
   default = simple
[pull]
   rebase = true
  
