[push]
	default = matching
[user]
	name = Thom Vaught
	email = thom.vaught@pinnacol.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	l = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold red)%d%Creset %s %C(bold green)%ar%Creset %C(bold blue)%an%Creset'
	ll = log --stat --graph --decorate --pretty=medium
	lll = log --stat --graph --decorate --pretty=medium --patch --minimal
   ribbon = tag --force _ribbon origin/master
   catchup = log --patch --reverse --topo-order _ribbon..origin/master
   daily-report = !git --no-pager log --author=Thom --since='yesterday' --format='%s' --no-merges
[apply]
   whitespace = nowarn
[color]
   diff = auto
   status = auto
   branch = auto
   interactive = auto
   ui = true
   pager = true
[merge]
   summary = true
[push]
   default = simple
[pull]
   rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
